.todos-root-box {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.todos-box {
    font-size: 16px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}