.todos-root-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.todos-buttons-box {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
}

.todos-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}