.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
  height: 80px;
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 35px;
  border: 2px purple solid;
  outline: none;
  background: white;
  font-size: calc(3px + 2vmin);
}

.button:hover {
  cursor: pointer;
  background: cornsilk;
  transition: 0.2s all ease-in-out;
}

.input {
  height: 30px;
  width: 30px;
  border-radius: 25px;
  border: 2px purple solid;
  padding-left: 25px;
}